@import 'node_modules/abas-demo-site/dist/abas-demo-site'
@import 'node_modules/react-day-input/dist/react-day-input'

label
  font-weight: 400
  margin-right: 1em

input[type="text"]
  padding: 0.4rem 0.4rem
  font-size: 1.2rem
  font-weight: 300
  font-family: 'Lato', sans-serif
